<ion-header>

    <ion-navbar>
        <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="addItem()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-list>
        <spinner [isVisible]="isLoading"></spinner>

        <div *ngIf="!isLoading">
            <button ion-item (click)="openItem(item.id)" *ngFor="let item of currentItems">
                <ion-icon [name]="item.icon" [color]="item.color" item-start></ion-icon>
                <h2>{{ item.creatorName }}</h2>
                <p>{{ item.createdAt }}</p>
                <ion-note item-end [color]="item.color">{{ 'PLAYERS' | translate }}: {{ item.playersJoined }} / {{ item.playersCount }}</ion-note>
            </button>
        </div>
    </ion-list>
</ion-content>
